<template>
  <div class>
    <h3 class="text-xl font-bold mb-2">Stripe Customer dashboard</h3>
    <p class="text-gray-700 mb-8">
      With the provided <kbd>&lt;saas-stripe-portal&gt;</kbd> component, it is simple easiy
      to redirect a customer to the Stripe Customer portal.
    </p>
    <div class="flex flex-wrap">
      <pre
        class="text-md text-gray-800 bg-gray-300 px-8 py-4 rounded-md"
        style="max-width: 350px; width: 100%"
      >
  &lt;saas-stripe-portal&gt;
    &lt;button&gt;
      Stripe Customer Portal
    &lt;/button&gt;
  &lt;/saas-stripe-portal&gt;</pre
      >
      <div class="px-12 flex flex-col justify-center py-12">
        <saas-stripe-portal :returnUrl="returnUrl">
          <button class="saastarter-btn-primary mt-0 ">Stripe Customer Portal</button>
        </saas-stripe-portal>
      </div>
    </div>
  </div>
</template>

<style scoped>
</style>

<script>
import Vue from "vue";

export default Vue.extend({
  computed: {
    returnUrl() {
      console.log('returnUrl', window.location.pathname);
      return window.location.pathname;
    }
  }
});
</script>

