<template>
  <div class>
    <h3 class="text-xl font-bold mb-2">Stripe Checkout</h3>
    <p class="text-gray-700 mb-8">
      The provided <kbd>&lt;saas-stripe-checkout&gt;</kbd> component redirects the user to the Stripe Checkout form.
      The product and price is defined by the price-id.
    </p>
    <div class="flex flex-wrap">

        <pre
          class="text-md text-gray-800 bg-gray-300 px-8 py-4 rounded-md md:mr-16 flex-grow-0"
          style="max-width: 500px; width: 100%"
        >
&lt;saas-stripe-checkout 
  price-id=&quot;%StripePriceId%&quot;&gt;
    &lt;button&gt;Stripe Checkout&lt;/button&gt;
&lt;/saas-stripe-checkout&gt;</pre
        >

      <div class="flex-grow mt-8 lg:mt-0">
        <div class="pb-8" v-if="isSaaStarterDemo">
          <p class="text-gray-700">Demo price id's</p>
          <ul class="ml-8 text-sm">
            <li
              @click="priceId = 'price_1HPnPpAaFZg6wHCtRPdaFHNy'"
              class="hover:text-gray-700 hover:font-bold cursor-pointer"
            >
              👉 price_1HPnPpAaFZg6wHCtRPdaFHNy
              <small>Monthly subscription</small>
            </li>
            <li
              @click="priceId = 'price_1HPnPpAaFZg6wHCtZr2MynTs'"
              class="hover:text-gray-700 hover:font-bold cursor-pointer"
            >
              👉 price_1HPnPpAaFZg6wHCtZr2MynTs
              <small>Yearly subscription</small>
            </li>
            <li
              @click="priceId = 'price_1HSIY0AaFZg6wHCtdkQeYN3S'"
              class="hover:text-gray-700 hover:font-bold cursor-pointer"
            >
              👉 price_1HSIY0AaFZg6wHCtdkQeYN3S
              <small>One time payment</small>
            </li>
          </ul>
        </div>

        <input
          v-model="priceId"
          type="text"
          class="saastarter-text-input"
          placeholder="Enter a Stripe price id"
        />
        <saas-stripe-checkout
          class="mt-2"
          :priceId="priceId"
          successUrl="/stripe-module"
          cancelUrl="/stripe-module"
        >
          <button :disabled="btnDisabled" class="saastarter-btn-primary mt-0">
            Checkout
          </button>
        </saas-stripe-checkout>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>

<script>
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      priceId: "",
    };
  },
  computed: {
    btnDisabled() {
      return !this.priceId;
    },
    isSaaStarterDemo() {
      return (
        this.$saastarter.stripePublishableKey ===
        "pk_test_51HPnLpAaFZg6wHCtIHZOeSe3AkZeqfKQHYFYaqRVFWfrtDDW50y54KD0CkoRq9IhhTNFxGnY7S5MHgG3mDJOc5fZ00AEjMSmGl"
      );
    },
  },
});
</script>

