<template>
  <div>
    <div class="w-12" v-if="isLoading">
      <skeleton />
    </div>
    <div
      v-if="!isLoading && isAuthenticated"
      class="flex flex-wrap items-center"
    >
      <nuxt-link class="ml-2" to="/functions-example"
        >Functions</nuxt-link
      >
      <nuxt-link class="ml-2" to="/firestore-example"
        >Firestore</nuxt-link
      >
      <nuxt-link class="ml-2" to="/auth-module">Auth</nuxt-link>
      <nuxt-link class="ml-2" to="/stripe-module">Stripe</nuxt-link>
      <user-menu>
        <nuxt-link class="cursor-pointer w-full" to="/auth/profile">
          <div class="hover:bg-gray-200 py-2 px-2 hover:text-black">
            Profile
          </div>
        </nuxt-link>
        <saas-stripe-portal>
          <div
            class="hover:bg-gray-200 py-2 px-2 hover:text-black cursor-pointer"
          >
            Billing
          </div>
        </saas-stripe-portal>
        <a class="cursor-pointer w-full" v-on:click="logout">
          <div class="hover:bg-gray-200 py-2 px-2 hover:text-black">Logout</div>
        </a>
      </user-menu>
    </div>
    <div v-if="!isLoading && !isAuthenticated">
      <nuxt-link to="/auth-module" class="ml-6"> Auth </nuxt-link>
      <nuxt-link to="/stripe-module" class="ml-6"> Stripe </nuxt-link>
      <nuxt-link to="/auth/login" class="ml-6">Login</nuxt-link>
      <nuxt-link class="btn-signup ml-6" to="/auth/signup">Sign up</nuxt-link>
    </div>
  </div>
</template>

<style scoped>
.btn-signup {
  @apply w-full bg-black rounded-sm text-white border border-black px-2 py-1 mt-8 outline-none;
}
.btn-signup:hover {
  @apply bg-white text-black;
}
</style>

<script>
import Vue from "vue";
import { Skeleton } from "vue-loading-skeleton";
import UserMenu from "./UserMenu.vue";
import ClickOutside from "vue-click-outside";

export default Vue.extend({
  components: {
    Skeleton,
    UserMenu,
  },
  directives: {
    ClickOutside,
  },
  data: function () {
    return {
      user: null,
      isLoading: true,
    };
  },
  mounted: function () {
    this.$fireAuth.onAuthStateChanged((user) => {
      this.isLoading = false;
      if (user) {
        this.user = user;
      } else {
        this.user = undefined;
      }
    });
  },
  computed: {
    isAuthenticated: function () {
      return !!this.user;
    },
  },
  methods: {
    logout: async function () {
      await this.$fireAuth.signOut();
      this.$router.push("/");
    },
  },
});
</script>

