<template>
  <footer class="mt-32 text-sm">
    <hr />
    <div class="pt-12 container mx-auto px-2 sm:px-0">
      <div class="flex flex-row justify-between flex-wrap">
        <div>
          <div>
            <a href="#">
              <div class="bg-black text-white font-bold text-base p-3 inline-block">Logo</div>
            </a>
          </div>

          <div class="text-secondary mt-4">Your ready to go template to start your SaaS now.</div>

          <div class="my-8">
            <div class="socialMediaIcon">
              <a href="#" target="_blank" aria-label="Facebook" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"
                  />
                </svg>
              </a>
            </div>
            <div class="socialMediaIcon">
              <a href="#" target="_blank" aria-label="Twitter" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z"
                  />
                </svg>
              </a>
            </div>
            <div class="socialMediaIcon">
              <a href="#" target="_blank" aria-label="LinkedIn" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="flex flex-row mb-8">
          <div class>
            <div class="font-bold">Resources</div>
            <div class="text-secondary">
              <a target="_blank" rel="noopener" href="https://docs.saastarter.com">Documentation</a>
            </div>

            <div class="text-secondary">
              <a target="_blank" rel="noopener" href="https://spectrum.chat/saastarter">Community</a>
            </div>
            <div class="text-secondary">
              <nuxt-link to="/about">About Us</nuxt-link>
            </div>
          </div>

          <div class="ml-8 sm:ml-16">
            <div class="font-bold">Navigation</div>
            <div class="text-secondary">
              <nuxt-link to="/auth/login">Login</nuxt-link>
            </div>
            <div class="text-secondary">
              <nuxt-link to="/auth/signup">Sign up</nuxt-link>
            </div>
            <div class="text-secondary">
              <a href="#">Contact us</a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-secondary">@ 2020 All rights reserved.</div>
    </div>
  </footer>
</template>

<style>
.socialMediaIcon {
  @apply inline-block mr-2 cursor-pointer;
}

.socialMediaIcon svg:hover {
  @apply text-gray-700 fill-current;
}
</style>
