/* purgecss start ignore */
@tailwind base;

body {
  font-family: sans-serif;
}

a:hover {
  @apply text-gray-700;
}

.text-secondary {
  color: #59584c;
  margin-bottom: 1px;
}

kbd {
  @apply bg-gray-300 text-black text-sm italic;
}

@tailwind components;

/* purgecss end ignore */

@tailwind utilities;
