<template>
  <div>
    <header class="mb-10 flex flex-row justify-between container mx-auto mt-12">
      <nuxt-link to="/">
        <logo />
      </nuxt-link>
      <nav>
        <div
          class="flex justify-center items-center flex-wrap"
          v-if="!isLoading"
        >
          <default-menu />
        </div>
      </nav>
    </header>

    <Nuxt v-if="!isLoading" />

    <div class="mb-24 mt-32 text-center" v-if="isLoading">
      <saas-loading-spinner class="mx-auto" />
    </div>

    <my-footer />
  </div>
</template>

<style>
</style>

<script>
import Vue from "vue";

import MyFooter from "@/components/Footer.vue";

export default Vue.extend({
  components: {
    MyFooter,
  },
  data: function () {
    return {
      isLoading: true,
      unsubscribeAuthChange: () => {},
    };
  },
  methods: {
    logout: async function () {
      await this.$fireAuth.signOut();
      this.$router.push("/");
    },
  },
  mounted: function () {
    this.unsubscribeAuthChange = this.$fireAuth.onAuthStateChanged((user) => {
      if (user) {
        this.isLoading = false;
      } else {
        this.$router.push("/auth/login");
      }
    });
  },
  beforeDestroy: function () {
    this.unsubscribeAuthChange();
  },
});
</script>
