<template>
  <div>
    <header class="mb-10 flex flex-row justify-between container mx-auto mt-12">
      <nuxt-link to="/">
        <logo />
      </nuxt-link>
      <nav>
        <div class="inline-block">
          <default-menu class=" pt-1" />
        </div>
      </nav>
    </header>

    <Nuxt />
    <my-footer />
  </div>
</template>

<style>
</style>

<script>
import Vue from "vue";

import MyFooter from "@/components/Footer.vue";

export default Vue.extend({
  components: {
    MyFooter,
  },
});
</script>
