<template>
  <div class="container mx-auto px-2 pt-12">
    <div>
      <h1 class="text-6xl pt-2 text-gray-700 text-center mb-12">Auth module</h1>

      <div class="text-lg mx-auto" style="width: 100%; max-width: 800px">
        <p class="text-center">
          <span class="font-bold text-blue-600">Demo user. </span> Email
          <span class="font-bold">demo@saastarter.com</span>. Password
          <span class="font-bold">123456</span>.
        </p>
      </div>

      <div class="mx-auto mt-12" style="width: 100%; max-width: 800px">
        <p class="text-center mb-8 text-lg text-gray-800">
          The authentication module is automatically mounted at /auth. It
          connects to the configured Firebase and is all you need to run a SaaS.
        </p>
        <table class="table-auto text-lg w-full">
          <thead>
            <tr>
              <th>Name</th>
              <th>Features</th>
              <th class="hidden md:table-cell">Login required</th>
            </tr>
          </thead>
          <tr>
            <td>
              <nuxt-link to="/auth/signup">
                <p>Sign up</p>
                <p class="text-sm text-gray-700">
                  <span class="underline">/auth/signup</span>
                </p>
              </nuxt-link>
            </td>

            <td>
              <ul>
                <li>Email & Password.</li>
                <li>Google.</li>
                <li>Email verification.</li>
              </ul>
            </td>
            <td class="hidden md:table-cell"></td>
          </tr>
          <tr>
            <td>
              <nuxt-link to="/auth/login">
                <p>Login</p>
                <p class="text-sm text-gray-700">
                  <span class="underline">/auth/login</span>
                </p>
              </nuxt-link>
            </td>
            <td>
              <ul>
                <li>Email & Password.</li>
                <li>Google.</li>
              </ul>
            </td>
            <td class="hidden md:table-cell"></td>
          </tr>
          <tr>
            <td>
              <nuxt-link to="/auth/reset-password">
                <p>Password reset</p>
                <p class="text-sm text-gray-700">
                  <span class="underline">/auth/reset-password</span>
                </p>
              </nuxt-link>
            </td>
            <td>
              <ul>
                <li>Sends reset email to user.</li>
              </ul>
            </td>
            <td class="hidden md:table-cell"></td>
          </tr>
          <tr>
            <td>
              <nuxt-link to="/auth/profile">
                <p>User profile</p>
                <p class="text-sm text-gray-700">
                  <span class="underline">/auth/profile</span>
                </p>
              </nuxt-link>
            </td>
            <td>
              <ul>
                <li>User details.</li>
                <li>Change email.</li>
                <li>Email recovery.</li>
                <li>Change password.</li>
              </ul>
            </td>
            <td class="hidden md:table-cell">Yes</td>
          </tr>
          <tr>
            <td>
              <nuxt-link to="/auth/callback">
                <p>Email callback</p>
                <p class="text-sm text-gray-700">
                  <span class="underline">/auth/callback</span>
                </p>
              </nuxt-link>
            </td>
            <td>
              <ul>
                <li>Email verification.</li>
                <li>Password reset.</li>
                <li>Email recovery.</li>
              </ul>
            </td>
            <td class="hidden md:table-cell"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  head() {
    return {
      title: "Auth module - SaaStarter",
    };
  },
});
</script>

<style scoped>
table th {
  @apply px-4 py-2 text-gray-700;
}
table td {
  @apply border px-4 py-2;
}
ul {
  list-style-type: circle;
  @apply ml-4;
}
</style>

