<template>
  <div class="container mx-auto px-2 pt-12">
    <div class="flex flex-col justify-center">
      <h1 class="text-3xl pt-2 text-gray-700 text-center md:text-6xl">
        Firestore Demo
      </h1>

      <form class="mx-auto" style="max-width: 700px" @submit="addTodo">
        <input
          type="text"
          class="saastarter-text-input -mb-4"
          placeholder="Petting my dog"
          id="todo-input"
          v-model="todoInput"
          autofocus
        />
        <button type="submit" class="saastarter-btn-primary" @click="addTodo">
          Add todo
        </button>
        <p v-if="hasSubscriptionError" class="saastarter-error-message mt-2">
          FireStore is unavailable. Make sure you run the emulator. If you
          haven't setup FireStore yet head to the
          <a
            class="text-gray-700 underline"
            target="_blank"
            href="https://docs.saastarter.com/#/getting-started/firestore-and-functions"
            >documentation</a
          >.
        </p>
      </form>
      <ul class="mx-auto w-full mt-8" style="max-width: 700px">
        <li v-for="todo in todos" :key="todo.id">
          <div class="border-b px-4 py-3">
            <svg
              class="w-6 h-6 mr-2 text-black fill-current hover:text-red-600 inline-block cursor-pointer mb-1"
              @click="removeTodo(todo)"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
            {{ todo.content }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { v4 as uuidv4 } from "uuid";

export default Vue.extend({
  data() {
    return {
      todos: [],
      todoInput: "",
      unsubscribe: () => {},
      hasSubscriptionError: false,
    };
  },
  layout: "authRequired",
  head() {
    return {
      title: "Firestore - SaaStarter",
    };
  },
  mounted: function () {
    this.subscribeToChanges();
    this.onlineCheck();
  },
  beforeDestroy: function () {
    this.unsubscribe();
  },
  methods: {
    addTodo: async function (evente) {
      evente.preventDefault();
      if (!this.todoInput) {
        return;
      }
      const identi = new Date().toJSON() + "-" + uuidv4();
      this.$fireStore.collection("todos").doc(identi).set({
        userId: this.$fireAuth.currentUser.uid,
        id: identi,
        content: this.todoInput,
        createdAt: new Date(),
      });
      this.todoInput = "";
    },
    removeTodo: async function (todo) {
      this.$fireStore.collection("todos").doc(todo.id).delete();
    },
    subscribeToChanges: async function () {
      try {
        this.unsubscribe = this.$fireStore
          .collection("todos")
          .where("userId", "==", this.$fireAuth.currentUser.uid)
          .onSnapshot((querySnapshot) => {
            this.todos = querySnapshot.docs.map((doc) => doc.data());
          });
      } catch (e) {
        console.error(e);
        this.hasSubscriptionError = true;
      }
    },
    onlineCheck: async function () {
      try {
        const doc = await this.$fireStore
          .collection("todos")
          .doc("onlineCheck")
          .get();
      } catch (e) {
        if (e.code === "unavailable") {
          this.hasSubscriptionError = true;
          console.log("Firestore unavailable");
        }
      }
    },
  },
});
</script>

<style>
</style>
