<template>
  <div class="container mx-auto px-2 pt-12">
    <div class="flex flex-col justify-center">
      <h1 class="text-3xl pt-2 text-gray-700 text-center md:text-6xl">
        Functions Demo
      </h1>
      <div class="mx-auto w-full" style="max-width: 700px">
        <button
          :disabled="isExecuting"
          class="saastarter-btn-primary w-full"
          @click="callTest()"
        >
          Call function
        </button>
        <p class="saastarter-error-message mt-2" v-if="hasExecutionError">
          An error occurred during the function execution. If you haven't setup
          Firebase Functions yet head to the
          <a
            class="text-gray-700 underline"
            target="_blank"
            href="https://docs.saastarter.com/"
            >documentation</a
          >.
        </p>
        <ul class="w-full mt-8">
          <h2 class="font-bold">Server responses:</h2>
          <p v-if="results.length == 0" class="pl-4">No responses yet</p>
          <li v-for="result in results" :key="result.id">
            <div class="border-b px-4 py-3">
              {{ result.content }}
              <span class="text-xs text-gray-500">{{ result.createdAt }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { v4 as uuidv4 } from "uuid";

export default Vue.extend({
  layout: "authRequired",
  head() {
return {
      title: 'Functions - SaaStarter'
    };
  },
  data: function () {
    return {
      results: [],
      hasExecutionError: false,
      isExecuting: false,
    };
  },
  methods: {
    callTest: async function () {
      try {
        this.isExecuting = true;
        const helloWorld = this.$fireFunc.httpsCallable(
          "saastarterdemo-helloWorld/auth-required"
        );
        const result = await helloWorld({});
        this.results.push({
          content: result.data,
          id: uuidv4(),
          createdAt: new Date().toISOString(),
        });
        this.hasExecutionError = false;
      } catch (e) {
        console.error(e, e.message, e.code, e.description, e.details);
        this.hasExecutionError = true;
      } finally {
        this.isExecuting = false;
      }
    },
  },
});
</script>

<style>
</style>
