<template>
  <div class="container mx-auto px-2 pt-12 pb-12">
    <div class="flex flex-col justify-center">
      <div>
        <saas-logo class="mx-auto" />
      </div>
      <div></div>
      <div>
        <h1
          class="text-3xl pt-2 text-gray-700 text-center md:text-6xl relative"
        >
          SaaStarter
          <span style="bottom: -0.7rem" class="text-2xl absolute">Demo</span>
        </h1>
      </div>
    </div>
    <div class="mx-auto" style="width: 100%; max-width: 600px">
      <div class="flex justify-center flex-wrap mt-24 sm:justify-between">
        <nuxt-link to="/auth-module">
          <div class="module">Auth module</div>
        </nuxt-link>
        <nuxt-link to="/stripe-module">
          <div class="module mt-6 sm:mt-0">Stripe module</div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  head() {
    return {
      title: "SaaStarter Demo",
    };
  },
});
</script>

<style>
.module {
  background: linear-gradient(
    to bottom,
    hsl(118, 100%, 95%) 0%,
    hsl(181, 100%, 60%) 100%
  );
  width: 245px;
  @apply py-12 text-xl text-center rounded-md shadow-md text-gray-800 font-black cursor-pointer;
}
.module:hover {
  @apply shadow-xl;
}
</style>
