<template>
  <div>
    <div v-if="user">
      <div
        v-if="hasSuccessfulOnetimePayments || hasActiveSubscription"
        class="text-center bg-green-400 font-bold py-2"
      >
        <span v-if="hasActiveSubscription && !hasSuccessfulOnetimePayments"
          >User has {{ activeSubscriptionCount }} active subscriptions.</span
        >
        <span v-if="hasSuccessfulOnetimePayments && !hasActiveSubscription"
          >User has {{ successfulOnetimePaymentsCount }} successful one-time
          payments.</span
        >
        <span v-if="hasSuccessfulOnetimePayments && hasActiveSubscription"
          >User has {{ activeSubscriptionCount }} active subscriptions and
          {{ successfulOnetimePaymentsCount }} successful one-time
          payments.</span
        >
        <span
          class="font-medium underline cursor-pointer"
          @click="scrollToTable()"
          >More details</span
        >
      </div>
      <h1
        class="text-3xl pt-2 text-gray-700 text-center md:text-5xl px-2 pt-12"
      >
        Stripe module
      </h1>

      <div class="container mx-auto px-2">
        <div class>
          <div class="mt-4 mb-16 mx-auto" style="max-width: 700px">
            <p class>
              <span class="font-bold text-blue-600"
                >Credit card in test mode</span
              >: Use
              <span class="font-bold text-gray-900">4242 4242 4242 4242</span>
              with any CVC and any future date.
            </p>
          </div>

          <checkout-session-form class="mt-24" />

          <billing-dashboard-example class="mt-24" />

          <subscription-tables class="mt-24" id="subscription-table" />
        </div>
      </div>
    </div>
    <div v-else class="container mx-auto px-2 pt-12">
      <div class="pb-24">
        <h1 class="text-6xl pt-2 text-gray-700 text-center">Stripe module</h1>
        <p class="text-center text-3xl mt-12 mb-4 text-gray-800">
          Login required.
        </p>

        <div class="text-lg mx-auto" style="width: 100%; max-width: 800px">
          <p class="text-center">
            <span class="font-bold text-blue-600">Demo user. </span> Email
            <span class="font-bold">demo@saastarter.com</span>. Password
            <span class="font-bold">123456</span>.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import SubscriptionTables from "@/components/stripe/SubscriptionTables.vue";
import CheckoutSessionForm from "@/components/stripe/CheckoutSessionForm.vue";
import BillingDashboardExample from "@/components/stripe/BillingDashboardExample.vue";

export default Vue.extend({
  layout: "default",
  components: {
    SubscriptionTables,
    CheckoutSessionForm,
    BillingDashboardExample,
  },
  head() {
    return {
      title: "Stripe - SaaStarter",
    };
  },
  data() {
    return {
      user: this.$fireAuth.user,
      unsubscribeAuthChange: () => {},
    };
  },
  methods: {
    scrollToTable() {
      const elmnt = document.getElementById("subscription-table");
      elmnt.scrollIntoView({ behavior: "smooth" });
    },
  },
  computed: {
    isSaaStarterDemo() {
      return (
        this.$saastarter.stripePublishableKey ===
        "pk_test_51HPnLpAaFZg6wHCtIHZOeSe3AkZeqfKQHYFYaqRVFWfrtDDW50y54KD0CkoRq9IhhTNFxGnY7S5MHgG3mDJOc5fZ00AEjMSmGl"
      );
    },
    activeSubscriptionCount() {
      return this.$stripe().activeSubscriptions.length;
    },
    hasActiveSubscription() {
      return this.$stripe().activeSubscriptions.length > 0;
    },
    successfulOnetimePaymentsCount() {
      return this.$stripe().successfulOneTimePayments.length;
    },
    hasSuccessfulOnetimePayments() {
      return this.$stripe().successfulOneTimePayments.length > 0;
    },
  },
  mounted: function () {
    this.unsubscribeAuthChange = this.$fireAuth.onAuthStateChanged((user) => {
      this.user = user;
    });
  },
  beforeDestroy: function () {
    this.unsubscribeAuthChange();
  },
});
</script>

<style>
</style>
